/* font */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html{
    font-size: 16px;
}

/* header */

.header-font{
   color: rgba(58, 58, 58, 1);
   margin: 90px 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 34px;
}
.nav-links a{
    text-decoration: none;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-description{
    width: 582px;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-title{
    font-size: 3.25rem;
    font-weight: bold;
    margin: 0;
}
.hero-details{
    font-weight: 600;
    margin: 0;
}

.btn-primary{
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 41px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: rgba(224, 44, 109, 1);
    margin: 0;
}
.btn-gap{
   margin-left: 8px;
}
.hero-image{
    width: 475px;
    height: 475px;
    background-image: url('images/Circle design.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.hero-image img{
    width: 440px;
    height: 414px;
    margin: 30px 33px 30px 2px;
}
.header-brands{
    padding: 35px 0px;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display{
    display: none;
}

/* main */
.container-1{
    margin: 0px 195px 100px 195px;
}
.container-1-title{
    text-align: center;
    font-weight: 600;
    font-size: 1.75rem;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 30px;
}
.item-name{
    font-size: 1.75rem;
    font-weight: 500;
    color: rgba(24, 25, 31, 1);
}
.item-price{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
}
.description{
    color: rgba(120, 120, 133, 1);
    font-weight: bold;
    font-size: 0.875rem;
}
.rating i{
    color: rgba(251, 130, 0, 1);
}
.rating h4{
    font-weight: bold;
    font-size: 0.875rem;
    color: rgba(94, 99, 102, 1);
}
.rating{
    display: flex;
    justify-content: left;
    align-items: center;
}

.card-item {
    width: 330px;
    height: 476px;
    border-radius: 5px; 
    padding: 17px 15px; 
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.card-item img{
    width: 100%;
    margin-bottom: 16px;
}

.card-item h3, .card-item p , .rating{
    margin: 0;
}
.cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.see-more{
    color: rgba(224, 44, 109, 0.87);
    font-weight: bold;
    font-size: 1rem;
    text-align: right;
    margin-top: 50px;
}
.container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
    margin: 0px 165px;
}
.container-2-info h1{
    font-weight: bold;
    font-size: 2.375rem;
    color: rgba(10, 8, 38, 1);
}
.container-2-info p{
    font-weight: bold;
    font-size: 1rem;
    color: rgba(108, 108, 108, 1);
}
.container-2-img img{
    border-radius: 7px;
}
/* footer */
footer h1{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin: 0;
    margin-top: 50px;
}
footer h3{
    font-weight: bold;
    font-size: 0.875rem;
    color: white;
    margin: 0;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 8, 38, 1);
    margin-top: 100px;
}
.footer-icons{
    margin-top: 17px;
    margin-bottom: 50px;
}
.footer-icons i{
    padding: 7.46px;
    margin-left: 10px;
    color: white;
    border: 1px solid rgba(149, 143, 219, 0.1);
    background-color: rgba(149, 143, 219, 0.1);
    border-radius: 50%;

}
@media screen and (max-width:575.989px) {
    .header-font{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .nav-title{
       font-size: 1rem;
    }
    nav,
    .nav-links{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 20px;
    }
    .nav-links,
    .nav-title{
        text-align: center;
        gap: 20px;
    }
    .hero-title{
        font-size: 1.5rem;
    }
    .hero-details{
        font-size: 0.8rem;
    }
    .hero-image{
        width: 300px;
        height: 250px;
    }
    .hero-image img{
        width: 250px;
        height: 200px;
        margin: 30px 30px;
    }
    .hero{
        flex-direction: column-reverse;
    }
    .hero-description{
        width: 350px;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .hero-title,
    .hero-details{
        width: 100%;
    }
    .header-brands{
        width: 280px;
        padding: 20px 0px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
        align-items: center;
    }
    .header-brands img{
        width: 55px;
    }
    .container-1{
        margin: 0px auto 50px auto;
    }
    .cart{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin-bottom: 50px;
    }
    .container-2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        margin: 0px 15px;
    }
    
    .container-2-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-2-info h1{
        text-align: center;
        font-size: 1.5rem;
    }
    .container-2-info p,.container-2-info h1{
        width: 320px;
        height: 100%;
    }
    .container-2-img{
        width: 300px;
        height: 188px;
    }
    .container-2-img img{
        width: 100%;
    }
}
